@import "./root.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: $container;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
    background: unset;
  }

  &::-webkit-scrollbar-thumb {
    background: #277add;
    border-radius: 10px;
  }
}

