@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins&display=swap");

$primary-black-color: #000;
$primary-white-color: #fff;
$primary-paragraph-color: #1f2949;
$secondary-paragraph-color: #0250b0;
$secondary-bg-color: #f5f5f5;

$primary-hover-color: #ff5248;
$secondary-hover-color: #277add;
$muted-color: #797c7f;

// Container
$container: 1140px;

// Font size
$font-size--2x-small: 12px;
$font-size--x-small: 14px;
$font-size--small: 16px;
$font-size--medium: 20px;
$font-size--large: 28px;
$font-size--x-large: 42px;
$font-size--regular: 22px;
$font-size--larger: 38px;

// Fonts
$poppins: "Poppins", sans-serif;
$open-sans: "Open Sans", sans-serif;

// Border
$muted-border-solid: 1px solid rgba(128, 128, 128, 0.308);



