@media (max-width: 900px) {
  .courses__top {
    padding: 40px 10px;
  }
}
@media (max-width: 720px) {
  .courses__top {
    padding: 30px 10px;

    h2 {
      font-size: 30px;
    }
  }

  .courses__title {
    font-size: 20px;
  }
}
